/* Personalización del Sidebar */
.nav-sidebar .nav-link.active {
    background-color: #28a745;
    color: #fff;
}

.nav-sidebar .nav-link:hover {
    background-color: #218838;
    color: #fff;
}

/* Productos */
#product-list .product-item {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
